@mixin flex($dir: row, $wrap: nowrap) {
    & {
        display: flex;
        flex-direction: $dir;
        flex-wrap: $wrap;
        @content;
    }
}

@mixin grid($temp: 1fr #{"/"} 1fr, $areas: none) {
    & {
        display: grid;
        grid-template: $temp;
        grid-template-areas: $areas;
        @content;
    }
}

@mixin mq($break) {
    @if map-has-key($map: $break-points, $key: $break) {
        & {
            @media only screen and (min-width: map-get($map: $break-points, $key: $break)) {
                @content;
            }
        }
    }

    @else {
        @warn "#{$break} key was not found in the break-points map.";
    }
}